<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <a href="/auth/google">Login with Google</a>
    <a href="/auth/facebook">Login with Facebook</a>
    <a href="/auth/github">Login with GitHub</a>
</body>
</html>

